# Diretórios de cache do Python
__pycache__/
*.py[cod]

# Diretório do ambiente virtual
venv/
env/

# Arquivo de configuração de ambiente
.env

# Arquivos de banco de dados SQLite
db.sqlite3

# Arquivos de logs
*.log

# Diretórios de build
build/
dist/
*.egg-info/

# Arquivos de testes
*.coverage
nosetests.xml
coverage.xml
*.cover

# Arquivos temporários
*.swp
*.swo
*.tmp
